.section-3-card {
    width: 299px;
    padding: 16px;
    background-color: var(--color-purple);
    border-radius: 4px;
    background-image: url('../../assets/CroppedLogo.svg');
    background-repeat: no-repeat;
    background-position: top 8px right 0;
    background-size: 41% 80%;
    position: relative;
}

.section-3-card h3 {
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.04em;
}

.card-profit{
   color: var(--color-superlight-purple);
}

.card-percent{
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.02em;
    color: var(--color-green);
    display: flex;
    align-items: center;
    margin-bottom: 9px;
}

.bottom-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-3-card-aim {
    font-weight: 500;
    color: var(--color-superlight-purple);
}
.section-3-card-date {
    font-weight: 400;
    color: var(--color-light-purple);
}

.smaller-text{
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
}

.section-3-card-time{
    font-weight: 500;
    margin-bottom: 48px;
    color: var(--color-light-purple);
}

.card-profit{
    margin-bottom: 2px;
    color: var(--color-superlight-purple);
    text-transform: uppercase;
}


.card-percent-arrow {
    display: inline-block;
    width: 13px;
    height: 36px;
    background-image: url(../../assets/Arrow.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 13px 36px;
    margin-left: 6px;
}

.folded-square {
    width: 45px;
    height: 45px; 
    background-color: transparent;
    position: absolute;
    top: -1px;
    right: -1px;
    background-color: var(--color-black);
    clip-path: polygon(0 0, 100% 0, 100% 100%); 
}
