.numbbers-section{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    padding: 116px 80px 61px;
    gap: 0 157px;
}

.numbers-text h2{
    margin-bottom: 4px;
}

.numbers-text p{
    color: #808080;
}

.numbers-cards{
    display: flex;
    justify-content: center;
    column-gap: 68px;
}