.section-3{
    padding: 96px 0 208px 80px;
    background-color: var(--color-black);
}

.section-3 h2 {
    color: white;
    margin-bottom: 4px;
}

.section-3-status {
    color: var(--color-green);
    margin-bottom: 72px;
}

.section-3-status::before {
    content: '• ';
    color: var(--color-green);
}

.section-3-cards {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;
}