header {
    padding: 2px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-black);
    padding: 0 80px;
}

.logo {
    width: 132px; /* Задай свої розміри */
    height: 64px;
    background-image: url('../../assets/Group35.svg'), url('../../assets/Group36.svg');
    background-position: top left, top 13px left 52px; 
    background-repeat: no-repeat, no-repeat; 
    background-size: contain, 80px 34px; 
}