:root {
  --color-blue: #57E1FF;
  --color-black: #030718;
  --color-purple: #7171fc;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  font-family: 'IBM Plex Sans', sans-serif;
  width: 100%;
}



